        <h1>Segunda Pre Entrega</h1>

        <h3>Lista de productos:</h3>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Código</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.thumbnail}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>


